@import url("../sass/calcular.scss");
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Playfair+Display:ital@1&family=Red+Hat+Display:wght@600&display=swap");
@font-face {
  font-family: Haigrast;
  src: url("../fontes/Haigrast.ttf") format(truetype);
}
@font-face {
  font-family: Avenue;
  src: url("../fontes/FontsFree-Net-Dream-Avenue.ttf") format(truetype);
}

$font1: "Playfair Display", serif;
$fonte2: "Hammersmith One", sans-serif;
$fonte3: "Red Hat Display", sans-serif;
$fonte4: Haigrast;
$fonte5: Avenue;

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: c;
  overflow-x: hidden;
  background-color: #7fb0ec;
}
.header-content {
  padding-left: 1%;
  min-width: 100vw;
  min-height: 15vh;
  background-image: linear-gradient(to top, #7fb0ec, #ffff 50%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.leticia {
  font-family: $fonte4;
  font-size: 70px;
  color: #7fb0ec;
}
.logotexto {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.img-logop {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.navp {
  margin-right: 2%;
  a {
    color: #669ee2;
    background-color: #94a6b400;
  }
}

.h1-1 {
  text-align: center;
  font-family: $fonte5;
  font-size: 80px;
  color: #002c4b;
}
.h1-2 {
  margin-left: 6%;
  margin-top: 4%;
  font-family: $fonte5;
  font-size: 40px;
  color: #ffff;
}
.p-text {
  width: 44vw;
  margin-left: 10%;
  margin-top: 1%;
  margin-right: 0%;
  margin-bottom: 0%;
  font-family: $fonte5;
  font-size: 20px;
  color: #ffff;
}

.img-p1 {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  margin-left: 12%;
  margin-top: 0%;
}

.container-secondary {
  width: 100vw;
  height: 60vh;

  .img-2 {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    margin-left: 6%;
    margin-top: 0%;
  }

  .p-text1 {
    width: 50vw;
    margin-left: 5%;
    margin-top: 7%;
    margin-right: 0%;
    margin-bottom: 0%;
    font-family: $fonte3;
    font-size: 20px;
    font-weight: 700;
    color: #ffff;
  }
  .h1-meio {
    text-align: center;
    font-family: $font1;
    font-size: 50px;
    color: #ffff;
  }
}

.h1-3 {
  text-align: center;
  font-family: $fonte5;
  font-size: 70px;
  color: #002c4b;
  margin-top: 4%;
}

// style calcular

.headerlogoc {
  width: 200px;
  height: 10px;
}
.logoc {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  box-shadow: 0px 0px 8px 2px #0000008a;
}
.container-primaryc {
  width: 99vw;
  display: flex;
  justify-content: center;
  align-self: center;
}
.container-meio {
  margin-top: 2vh;
  background-color: #002c4b;
  color: #94a6b4;
  width: 50vw;
  height: 92vh;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 2px #0000008a;
  padding-bottom: 20%;
}

.calcular {
  height: 20vh;
}
.h1top {
  text-align: center;
}

.botoes {
  width: 80px;
  height: 25px;
  background-color: #7fb0ec;
  border: 1px solid #002c4b;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.712);
}
.botoes:hover {
  box-shadow: 0px 0px 8px 2px #0000008a;
  background-color: #002c4b;
}

//  Responsividade-Calcular
@media (max-width: 1610px) {
  .container-meio {
    height: 96vh;
  }
}

.h1top {
  font-size: 26px;
}
.text-meio {
  font-size: 14px;
}

.pbotao {
  height: 22px;
  font-size: 14px;
}

@media (max-width: 1320px) {
  .container-meio {
    width: 50vw;
    height: auto;
  }
  .text-meio {
    font-size: 16px;
  }
}
.h1top {
  font-size: 25px;
}

.inputs {
  width: 100px;
}

@media (max-width: 1110px) {
  .container-meio {
    width: 60vw;
    height: auto;
  }

  .h1top {
    font-size: 20px;
  }

  .inputs {
    width: 100px;
  }
  .text-meio {
    font-size: 15px;
  }
}

@media (max-width: 790px) {
  .h1top {
    font-size: 17px;
  }
  .text-meio {
    font-size: 13px;
  }
  .container-primaryc {
    width: auto;
  }
}

@media (max-width: 426px) {
  .headerlogoc {
    display: none;
    width: 70px;
    height: 20px;
  }

  .logoc {
    display: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    margin-left: 80%;
    box-shadow: 0px 0px 8px 2px #0000008a;
  }

  .container-meio {
    width: 80vw;
    height: auto;
  }

  .h1top {
    font-size: 15px;
  }

  .inputs {
    width: 70px;
  }
  .text-meio {
    font-size: 12px;
  }
  .botoes {
    height: 25px;
  }
  .footer-c {
    text-align: center;
    font-size: 12px;
  }
}
@media (max-width: 376px) {
  .container-meio {
    width: 80vw;
    height: auto;
  }
  .h1top {
    font-size: 13px;
  }

  .inputs {
    width: 50px;
  }
  .text-meio {
    font-size: 10px;
  }
  .botoes {
    height: 18px;
    width: 60px;
  }
  .pbotao {
    font-size: 12px;
  }
}
